# Ignorer les fichiers générés par Hugo
/public/
/resources/_gen/
/node_modules/
/resources/_gen/


# Ignorer les fichiers de configuration spécifiques
.hugo_build.lock

# Ignorer les fichiers logs
*.log
