{{ define "main" }}
<section class="section">
  <div class="container">
    <article class="post">
      <h1 class="title">{{ .Title }}</h1>
      <div class="post-metadata">
        <span class="date">{{ .Date.Format "02 January 2006" }}</span>
        {{ with .Params.categories }}
        <span class="categories">
          Catégories: {{ if reflect.IsSlice . }} {{ range $index, $category := .
          }} {{ if $index }}, {{ end }}
          <a href='{{ "/categories/" | relLangURL }}{{ $category | urlize }}/'
            >{{ $category }}</a
          >
          {{ end }} {{ else }}
          <a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}/'
            >{{ . }}</a
          >
          {{ end }}
        </span>
        {{ end }}
      </div>
      <div class="content">{{ .Content }}</div>
    </article>
  </div>
</section>
{{ end }}
