{{ define "main" }}
<main class="main">
  <article class="content">
    <h1>{{ .Title }}</h1>
    {{ range .Site.RegularPages.GroupByDate "2006" }}
    <h2>{{ .Key }}</h2>
    <div class="article-list">
      {{ range .Pages }}
      <div class="article-card">
        <div class="card-header">
          <h3 class="card-title">{{ .Title }}</h3>
          <span class="card-date">{{ .Date.Format "January 2" }}</span>
        </div>
        <div class="card-body">
          <p class="card-excerpt">{{ .Summary }}</p>
        </div>
        <div class="card-footer">
          <a href="{{ .Permalink }}" class="card-link">Lire la suite</a>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </article>
</main>
{{ end }}
