<header></header>
  <nav class="navbar">
    <ul>
      <li><a href="/">Pyptech Chronicles</a></li>
      <li><a href="/rss.xml">RSS</a></li>
      <li><a href="/archives">Archives</a></li>
      <li><a href="https://supportme.com" target="_blank">Support me</a> ❤️</li>
    </ul>

    <form action="/search" method="get">
      <input type="text" name="q" placeholder="Search ..." />
      <button type="submit">Rechercher</button>
    </form>

    <div class="language-switcher">
      <a href="/?lang=en"><img src="/icons/english-flag.svg" alt="EN" /></a>
      <a href="/?lang=fr"><img src="/icons/french-flag.svg" alt="FR" /></a>
    </div>

    <div class="theme-switcher">
      <button onclick="toggleTheme()">🌙</button>
    </div>
  </nav>
</header>