{{ define "main" }}
<section class="section">
  <div class="container">
    <h1>{{ .Site.Params.homeHeader }}</h1>
    <p>{{ .Site.Params.homeSubheader }}</p>

    <h2>Sections</h2>
    <ul>
      {{ range .Site.Params.sections }}
      <li>
        <a href="{{ .url }}">{{ .title }}</a>
        <p>{{ .description }}</p>
      </li>
      {{ end }}
    </ul>

    <h2>Articles Récents</h2>
    <ul>
      {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <p>{{ .Summary }}</p>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
